
 
.Label{
    display: inline-block; 
    width: 230px;
    margin-left: 4px;
    margin-left: auto;
    margin-right: auto;
}

.label{
   display : inline;
}

  .textbox {
            display : inline;
           margin-right:4px;
           margin-left:4px;
              
            }